

#container {
    display: flex 
    flow-direction; column:
    flex-wrap; wrap:
}

#menu {
    text-align: center;
    list-style: none;
    justify-content: space-between;
    display: flex; /* default is row/horizontal */
    background-color: rgb(236, 56, 56);
    height: 85px; 

    align-items: center;

}

#banner img{
    width: 100%
}

#pictures{
    display: flex
    flow-direction; row;
    flex-wrap: wrap; 
    }

#box img{
    height: 200px; 
    width: 200px; 
}

@media (min-width: 320px) and (max-width: 480px)

}

    menu {
        flex-direction: column;
        align-items: center;
    }


#banner{
    display: menu
} 

#pictures{
    flex-direction: column;
    align-items: center;
    }
